@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif ;
	
}
.courses-group
{
	max-height: 500px;
}

#html,#css,#js,#jquery,#PHP
{
	padding-left: 20px;
	padding-bottom: 20px;
}
#html,#js,#PHP
{
	background-color:#CCC;
}
.box
{
	width: 250px;
	background-color:#FFF;
	display:inline-block;
	box-shadow: 5px 5px 6px 0px black;
}

.box img
{
	width: 250px;
	height: 200px;
}
.box .info
{
	margin: 10px;
}
.box .info p
{
	color: rgba(171, 171, 168, 0.7);
}
.cost
{
	text-align:right;
	font-size:18px;
	color:#000;
}
.box2
{
	width: 250px;
	background-color:#FFF;
	display:inline-block;
	margin-left: 100px;
	box-shadow: 5px 5px 6px 0px black;
}

.box2 img
{
	width: 250px;
	height: 200px;
}
.box2 .info
{
	margin: 10px;
}
.box2 .info p
{
	color: rgba(171, 171, 168, 0.7);
}
.box3
{
	width: 250px;
	background-color:#FFF;
	display:inline-block;
	margin-left: 100px;
	box-shadow: 5px 5px 6px 0px black;
}

.box3 img
{
	width: 250px;
	height: 200px;
}
.box3 .info
{
	margin: 10px;
}
.box3 .info p
{
	color: rgba(171, 171, 168, 0.7);
}
.box4
{
    box-shadow: 5px 5px 6px 0px black;
	width: 250px;
	background-color:#FFF;
	display:inline-block;
	margin-left: 100px;
}

.box4 img
{
	width: 250px;
	height: 200px;
}
.box4 .info
{
	margin: 10px;
}
.box4 .info p
{
	color: rgba(171, 171, 168, 0.7);
}
#html .box div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#html .box:hover div.detail
{
	display:block;
}
#html .box div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#html .box2 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#html .box2:hover div.detail
{
	display:block;
}
#html .box2 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#html .box3 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#html .box3:hover div.detail
{
	display:block;
}
#html .box3 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#html .box4 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: -260px;
}
#html .box4:hover div.detail
{
	display:block;
}
#html .box4 div.detail ul
{
	list-style:circle;
	font-size:18px;
}

#css .box div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
    left: 290px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 10px;
}
#css .box:hover div.detail
{
	display:block;
}
#css .box div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#css .box2 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#css .box2:hover div.detail
{
	display:block;
}
#css .box2 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#css .box3 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#css .box3:hover div.detail
{
	display:block;
}
#css .box3 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#css .box4 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: -260px;
}
#css .box4:hover div.detail
{
	display:block;
}
#css .box4 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#js .box div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
    left: 290px;
	height: 300px;
    margin-top: -350px;
    margin-left: 10px;
	padding: 10px;
}
#js .box:hover div.detail
{
	display:block;
}
#js .box div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#js .box2 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#js .box2:hover div.detail
{
	display:block;
}
#js .box2 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#js .box3 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#js .box3:hover div.detail
{
	display:block;
}
#js .box3 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#js .box4 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: -260px;
}
#js .box4:hover div.detail
{
	display:block;
}
#js .box4 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#jquery .box div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
    left: 290px;
	height: 300px;
   margin-top: -350px;
    margin-left: 10px;
	padding: 10px;
}
#jquery .box:hover div.detail
{
	display:block;
}
#jquery .box div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#jquery .box2 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#jquery .box2:hover div.detail
{
	display:block;
}
#jquery .box2 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#jquery .box3 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#jquery .box3:hover div.detail
{
	display:block;
}
#jquery .box3 div.detail ul
{
	list-style:cjk-ideographic;
}
#jquery .box4 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: -260px;
}
#jquery .box4:hover div.detail
{
	display:block;
}
#jquery .box4 div.detail ul
{
	list-style:circle;
	font-size:18px;
}

#PHP .box div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
    left: 290px;
	height: 300px;
    margin-top: -350px;
    margin-left: 10px;
	padding: 10px;
}
#PHP .box:hover div.detail
{
	display:block;
}
#PHP .box div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#PHP .box2 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#PHP .box2:hover div.detail
{
	display:block;
}
#PHP .box2 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#PHP .box3 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: 260px;
}
#PHP .box3:hover div.detail
{
	display:block;
}
#PHP .box3 div.detail ul
{
	list-style:circle;
	font-size:18px;
}
#PHP .box4 div.detail
{
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid #434343;
    width: 250px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
    margin-left: -260px;
}
#PHP .box4:hover div.detail
{
	display:block;
}
#PHP .box4 div.detail ul
{
	list-style:circle;
	font-size:18px;
}


